.card-div img {
    width: 100vw;
    height: auto;
}

.card-div form #cout {
    position: absolute;
    top: 60px;
    left: 38px;
}

.card-div form #titre {
    position: absolute;
    top: 50px;
    left: 85px;
}

.card-div form #artiste {
    position: absolute;
    top: 570px;
    left: 35px;
}

.card-div form #rarete {
    position: absolute;
    top: 570px;
    left: 295px;
}

.card-div form #number {
    position: absolute;
    top: 570px;
    left: 350px;
}

.card-div form #maxnum {
    position: absolute;
    top: 570px;
    left: 370px;
}

.card-div form #pv-unit {
    position: absolute;
    top: 370px;
    left: 570px;
}

.card-div form #degats-unit {
    position: absolute;
    top: 370px;
    left: 35px;
}

.card-div form #zone-unit {
    position: absolute;
    top: 38px;
    left: 70px;
}

.card-div form #art-unit {
    position: absolute;
    top: 120px;
    left: 150px;
}

.card-div form #motcle-unit {
    position: absolute;
    top: 370px;
    left: 160px;
}

.card-div form #effet-unit {
    position: absolute;
    top: 500px;
    left: 160px;
}