.card-div img {
    width: 100vw;
    height: auto;
}

.card-div form #cout {
    position: absolute;
    top: 50px;
    left: 35px;
}

.card-div form #titre {
    position: absolute;
    top: 35px;
    left: 100px;
}

.card-div form #artiste {
    position: absolute;
    top: 550px;
    left: 40px;
}

.card-div form #rarete {
    position: absolute;
    top: 550px;
    left: 280px;
}

.card-div form #number {
    position: absolute;
    top: 550px;
    left: 320px;
}

.card-div form #maxnum {
    position: absolute;
    top: 550px;
    left: 340px;
}

.card-div form #pv-unit {
    position: absolute;
    top: 120px;
    left: 150px;
}

.card-div form #degats-unit {
    position: absolute;
    top: 120px;
    left: 35px;
}

.card-div form #zone-unit {
    position: absolute;
    top: 35px;
    left: 60px;
}

.card-div form #art-unit {
    position: absolute;
    top: 120px;
    left: 150px;
}

.card-div form #motcle-unit {
    position: absolute;
    top: 320px;
    left: 260px;
}

.card-div form #effet-unit {
    position: absolute;
    top: 200px;
    left: 60px;
}